@import "~bulma/sass/utilities/initial-variables.sass";

$turquoise: hsl(171, 100%, 41%);
$primary: $turquoise;

$purple: hsl(271, 100%, 71%);
$info: $purple;

$gap: 24px;
$desktop: 960px + (2 * $gap);

.image.is-max-384x384 {
  max-width: 384px;
  max-height: 384px;
}

.tags.is-marginless .tag {
  margin-bottom: 0 !important;
}

.is-flex.has-centered {
  align-items: center !important;
  justify-content: center !important;
}

.is-flex.direction-column {
  flex-direction: column;
}

@media screen and (max-width: 768px) {
  /* Has/is * mobile */
}

@media screen and (min-width: 769px) {
  /* Has/is * tablet */
}

@media screen and (min-width: 1008px) {
  /* Has/is * desktop */
  .container {
    max-width: $desktop !important;
  }
}

@media screen and (min-width: 1408px) {
  /* Has/is * fullhd */
  .image.is-max-256x256-fullhd {
    max-width: 256px;
    max-height: 256px;
  }
}

@import "~bulma";
