@import "../../node_modules/bulma/sass/utilities/initial-variables.sass";
@import "../../node_modules/bulma/sass/utilities/functions.sass";

$orange: #FB5607;
$yellow: #F7B801;
$green: #48E826;
$turquoise: #00D1B2;
$red: #E8180D;

$primary: $turquoise;
$info: $orange;
$success: $green;
$warning: $yellow;
$danger: $red;

$body-background-color: $grey-darker;

$text: $white-ter;
$text-strong: $white-bis;
$family-sans-serif: "Inconsolata", sans-serif;

$link: $primary;
$link-hover: $white-bis;
$link-focus: $white-bis;

$navbar-height: 3rem;
$navbar-item-img-max-height: 2.75rem;
$navbar-dropdown-background-color: $black-ter;

$card-background-color: $black-ter;

$footer-background-color: $grey-darker;

.tags.is-marginless .tag {
  margin-bottom: 0 !important;
}

.navbar-burger {
  height: auto !important;
}

@media screen and (min-width: 1008px) {
  /* Has/is * desktop */
  .container {
    max-width: $desktop !important;
  }
}

@import "../../node_modules/bulma/bulma.sass";
