@import "../../node_modules/bulma/sass/utilities/initial-variables.sass";

$turquoise: #00D1B2;
$turquoise-darker: #009E86;
$primary: $turquoise;
$primary-darker: $turquoise-darker;

$purple: #B86BFF;
$info: $purple;

$gap: 24px;
$desktop: 960px + (2 * $gap);

.image.is-max-384x384 {
  max-width: 384px;
  max-height: 384px;
}

.tags.is-marginless .tag {
  margin-bottom: 0 !important;
}

.is-flex.has-centered {
  align-items: center !important;
  justify-content: center !important;
}

.is-flex.direction-column {
  flex-direction: column !important;
}

a {
  color: $primary !important;
}

a:hover, a:focus {
  color: $primary-darker !important
}

.is-not-visible {
  visibility: hidden !important;
}

@media screen and (max-width: 768px) {
  /* Has/is * mobile */
}

@media screen and (min-width: 769px) {
  /* Has/is * tablet */
}

@media screen and (min-width: 1008px) {
  /* Has/is * desktop */
  .container {
    max-width: $desktop !important;
  }
}

@media screen and (min-width: 1408px) {
  /* Has/is * fullhd */
  .image.is-max-256x256-fullhd {
    max-width: 256px !important;
    max-height: 256px !important;
  }
}

@import "../../node_modules/bulma/bulma.sass";
