.image.is-max-384x384 {
  max-width: 384px;
  max-height: 384px;
}

.is-flex.has-centered {
  align-items: center !important;
  justify-content: center !important;
}

.is-flex.direction-column {
  flex-direction: column !important;
}

.small-vertical-section {
  margin: 1.5rem 0;
}

.small-vertical-section:first-child {
  margin-top: 0 !important;
}

.small-vertical-section:last-child {
  margin-bottom: 0 !important;
}

@media screen and (max-width: 768px) {
  /* Has/is * mobile */
}

@media screen and (min-width: 769px) {
  /* Has/is * tablet */
}

@media screen and (min-width: 1008px) {
  /* Has/is * desktop */
}

@media screen and (min-width: 1408px) {
  /* Has/is * fullhd */
  .image.is-max-256x256-fullhd {
    max-width: 256px !important;
    max-height: 256px !important;
  }
}
