@import url('https://fonts.googleapis.com/css?family=Montserrat|Work+Sans');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6, .title {
  font-family: 'Work Sans', sans-serif;
}
