@import url('https://fonts.googleapis.com/css?family=Montserrat|Work+Sans');

body {
  min-height: 100vh;
  font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6, .title {
  font-family: 'Work Sans', sans-serif;
}
